* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/*Estilo Navbar*/
.nav-link {
  font-size: 40px;
}

.bi {
  display: inline-block;
  font-size: 30px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

h1 {
  margin-top: 80px;
  padding: 50px;
}

/*Carrusel*/
.carrusel {
  margin-top: 60px;
}

/*seccion descuntos*/
.descuento-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: auto;
  height: auto;
  background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
}
.descuento-flex .descuento {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

h2 {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 100px;
  color: white;
  margin: 0 auto;
  border-right: 0.15em;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*Seccion News*/
.container-news {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 100px;
}
.container-news .news {
  border: black solid 2px;
  width: 600px;
  height: 100px;
  justify-content: center;
  padding: 5px;
  font-size: 20px;
}

input {
  border-radius: 25px;
  text-align: center;
}

/*Catalogo Man*/
.shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  text-align: center;
}
.shop .shoes {
  margin: 20px;
}
.shop .shoes .shoe {
  width: 400px;
}

.shoe-zap1 {
  width: 400px;
  padding-top: 100px;
}

.shoe-zap6 {
  width: 400px;
  margin-top: 50px;
}

button {
  width: 100px;
  background: black;
  color: white;
  border-radius: 25px;
}

button:hover {
  background-color: white;
  color: black;
  border: none;
}

/*catalogo woman*/
.shop-grid {
  display: grid;
  width: 100%;
  margin-top: 30px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  align-items: end;
}
.shop-grid .shoes1 {
  margin: 20px;
}
.shop-grid .shoes1 .shoe {
  width: 400px;
}

.shop-grid > div {
  display: inline-block;
  text-align: center;
}

/*About us*/
.container-us {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 100px;
}

.us {
  color: black;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin: 30px;
}

/*Shops*/
.tiendas, .tienda1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 140px;
  justify-content: space-around;
}

.tienda1 {
  margin-top: 40px;
}

.alcorta, .palermo {
  width: 400px;
  height: 300px;
  border: 2px solid black;
  margin: 40px;
  padding: 20px;
  font-size: 30px;
}

.mapaalcorta, .mapapalermo {
  margin: 40px;
}

/*Pie de pagina*/
/*variable*/
footer {
  background-color: black;
}

.copy {
  text-align: center;
  color: white;
}

.redes .bi {
  font-size: 40px;
  color: white;
  margin: 20px;
}

.blanco {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

.pie {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Responsive*/
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  .descuento {
    font-size: 50px;
  }
  .redes {
    justify-content: center;
  }
  .news {
    padding-top: 20px;
    font-size: 10px;
  }
  .blanco {
    display: none;
  }
  .copy {
    justify-content: center;
    font-size: 10px;
  }
  h2 {
    font-size: 40px;
  }
  h4 {
    font-size: 10px;
  }
  .bi {
    font-size: 25px;
  }
  .alcorta, .palermo {
    font-size: 20px;
  }
}
/*responsive grid*/
@media screen and (max-width: 1230px) {
  .shop-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
  }
}
/*mixins*/
button {
  width: 100px;
  background: black;
  color: white;
  border-radius: 25px;
}

/*maps*/
.descuento {
  font-size: 100px;
}

/*# sourceMappingURL=estilos.css.map */
