/*nesting*//*nesting*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/*Estilo Navbar*/
.nav-link{
    font-size: 40px;
}
.bag{
    display: inline-block;
    font-size: 25px;
}
.d-block{
    width: 70%;   
}

/*Carrusel*/
.carrusel{
    margin-top: 60px;
}
/*seccion descuntos*/
.descuento-flex
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    width: auto;
    height: auto;
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif)
      }

.descuento{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    color: white;
}
/*Seccion News*/
.container-news{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px;
    
}
.news{
    border: black solid 2px;
    width: 600px;
    height: 100px;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
}

/*Catalogo Man*/
.shop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
}
.shoe{
    width: 400px;
   
}
.shoes{
   margin: 20px;
}
.shoe-zap1{
    width: 400px;
    padding-top: 100px;
}
.shoe-zap6{
    width: 400px;
    margin-top: 50px;
}
button{
    background: black;
    color: white;
   
  }
  button:hover{
    background-color: white;
    color: black;
    border: none;
  }
/*Pie de pagina*/
.redes{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.bi { 
    font-size: 40px;
    color:rgb(53, 52, 52);
    margin: 20px;
}
.copy{
    text-align: center;
}

/*Responsive*/
@media screen and ( max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    .descuento{
        font-size: 50px;
    }
    .redes{
        justify-content: center;
    }
    .news{
        padding-top: 20px;
        font-size: 10px;
    }
}